# macOS
.DS_Store

# Bundler
.bundle/
vendor/bundle/

# Testing
.rspec_status
coverage/

# Project-specific
.i18n-context-generator-cache/
translation-context.csv

# Editor/IDE
*.swp
*~
.idea/
.vscode/

# Temp files
tmp/
